* { margin:0px;padding:0px;}
ul { list-style:none;}
a { text-decoration:none;}
img { border:none;}



/******************* header ***********************/

/* header높이 토글처리 */



header{
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

header.header_on{
    height: 210px;
}

header .pos_left{
    position: absolute;
    top :50px;
    left : 0px;
}
header .pos_left >a{
    float: left;
    margin-right: 20px;
}
.list {
    position: relative;
    top : 3px;
}

header .logo{
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -71px;
}

header .sns{
    position: absolute;
    top : 50px;
    right: 0px;
}
header .sns li{
    float: left;
    background-image: url(../img/toggle/bg_line_1x17.gif);
    background-repeat: no-repeat;
    background-position: right;
    padding: 0px 10px;
}
header .sns li:last-child{
    background-image: none;
}



/**********************  top toggle  **********************/

header .toggleWrap >div{
    width: 100%;
    height: 80px;
    background-color: #f7f7f7;
    position: absolute;
    top :120px;
    z-index: 6;
    display: none;
}

header .toggleWrap .toggle_on{
    display: block;
}


header .toggleWrap >div .arrow{
    position: absolute;
    top: -10px;
    width: 33px;
    height: 10px;
}


header .toggle .arrow{
    top: -10px;
}

header .toggle >ul{
    margin-left: 30px;
}

header .toggle >ul li{
    float: left;
    height: 80px;
    padding: 0px 20px;
    background-image: url(../img/toggle/bg_line_1x17.gif);
    background-repeat: no-repeat;
    background-position: right;
}

header .toggle >ul li:last-child{
    background-image: none;
}
header .toggle >ul li:hover {
    color: #000;
    font-weight: bold;
}
header .toggle >ul li a{
    font-size: 15px;
    color: #333;
    line-height: 80px;
}

header .toggle .siteMap{
    position: absolute;
    right: 10px;
    top : 30px;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

/*siteMap 버튼색 toggle*/
header .toggle .sitemap_on{
    background-color:dodgerblue;
    color: #fff;
    line-height: 30px;
}

header .toggle .siteMap p{
    float: left;
    margin-right: 20px;
    padding-left: 10px;
}

header .toggle .siteMap img{
    float: left;
    position: relative;
    top : 10px;
}


header .toggle .more{
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #f7f7f7;
    display: none;
}


/* more 보이게 하기 toggle*/
header .toggle .ul_on{
    display: block;
    margin-bottom: 100px;
}

header .toggle .more >ul{
    float : left;
    width: 275px;
}

header .toggle .more > ul > li{
    text-align: center;
    margin: 10px 0px;
}
header .toggle .more > ul > li:first-child{
    margin-bottom: 20px;
}
header .toggle .more > ul > li:first-child a{
     color: #333;
    font-size: 22px;
}
header .toggle .more > ul > li:first-child:hover a{
    font-weight: normal;
}
header .toggle .more >ul >li >a{
    color: #666;
    font-size: 16px;
}
header .toggle .more >ul >li:hover >a {
    color: #333;
    font-weight: bold;
}


/************************************************/

.toggleWrap .search_toggle{
    position: relative;
}

.toggleWrap .search_toggle .arrow{
    left : 50px;
}

.toggleWrap .search_toggle >div{
    position: relative;
    float: left;
    border : 2px solid dodgerblue;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 50px;
    height: 30px;
    width: 400px;
}
.toggleWrap .search_toggle >div .search_btn{
    position: absolute;
    top:0px;
    right: 0px;
    text-indent: -9999px;
    background-image: url(../img/toggle/btn_search_s.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    border: none;
    background-color:dodgerblue;
    cursor:pointer;
}
.toggleWrap .search_toggle >div .search_txt{
    width : 235px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 25px;
    border: none;
    padding-left: 10px;
    box-sizing: border-box;
}


.toggleWrap .search_toggle >ul{
    float: left;

}

.toggleWrap .search_toggle >ul >li {
    float: left;
    margin-right: 30px;
}

.toggleWrap .search_toggle >ul >li a{
    font-size: 20px;
    line-height: 80px;
    color: #000;
}


.toggleWrap .search_toggle >ul >li:hover a{
    text-decoration: underline;
}

.toggleWrap .search_toggle >div>p{
    width: 140px;
    height: 30px;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: #999;
    background-color: #fff;
    background-image: url(../img/toggle/bg_line_1x22_blue.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-color: none;
    cursor: pointer;
}
.toggleWrap .search_toggle >div>p img{
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 5px;
    cursor: pointer;
}

/* search_toggle 보이게 하기 */
.toggleWrap .search_on{
    display: block;
    margin-bottom: 100px;
}

.toggleWrap .search_toggle >div>ul{
    display: none;
}

.toggleWrap .search_toggle >div>ul li{
    width: 140px;
    height: 30px;
    line-height: 30px;
    border: 1px solid dodgerblue;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
}

/* search_toggle ul보이게 하기 */
.toggleWrap .search_toggle >div ul.search_ul_on{
    display: block;
}


.toggleWrap .search_toggle >div>ul li:last-child{
    border-top: none;
}
.toggleWrap .search_toggle >div>ul li:hover{
    background-color: #dadada;
}

/*******************************************************/

.menu{
    width: 1100px;
    height: 60px;
    margin : 0 auto;
}

.menu li{
    float: left;
    width: 366px;
    text-align: center;
}

.menu li a{
    color: #000;
    font-size: 22px;
    line-height: 60px;
/*    font-weight: bold;*/
}


/********************* slider *****************************/


.slider{
    width: 1100px;
    height: 706px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.panel{
    width :300%;
    height: 620px;
}

.panel li{
    float: left;
    width: 33.333%;
    height: 100%;
}


.panel li a{
    display: block;
    width: 100%;
    height: 100%;
}


.p1{ background-image: url(../img/slider/slider01.jpg);}
.p2{ background-image: url(../img/slider/slider02.jpg);}
.p3{ background-image: url(../img/slider/slider03.jpg);}

.slider div{
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -33px;
    width: 65px;
}


.slider .btn {
    float: left;
}

.slider .btn li{
    float: left;
    margin-right: 5px;
}
.slider .btn li a{
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: left;
    background-image:url(../img/slider/bg_indicator.png);
}

.slider .btn .on a{
    background-position: right;
}

.slider .btn li:hover a{
    background-position: right;
}
.slider p{
    float: left;
    display: block;
}


.pause{
    width: 9px;
    height: 10px;
    background-image: url(../img/slider/btn_pause.png);

}

.play {
    width: 9px;
    height: 13px;
    background-image: url(../img/slider/btn_play.png);
}
/********************* tab menu *************************/


.tabWrap{
    width: 1100px;
    height: 700px;
    margin: 0 auto;
}

.tab_menu{
    width: 100%;
    height: 85px;
    border: 15px solid #333;
    box-sizing: border-box;
    position: relative;
}

.tab_menu ul{
    position: absolute;
    left: 50%;
    margin-left: -250px;
    height: 56px;
}

.tab_menu ul li{
    float: left;
    margin-right: 20px;
}

.tab_menu ul li:hover a{
    color: blue;
    text-decoration: underline;
}
.tab_menu ul .tab_on a{
    color: blue;
    text-decoration: underline;
}
.tab_menu ul li a{
    color: #333;
    font-size: 20px;
    line-height: 56px;
}


/************************ tab_box ***********************/

.tab_box{
    margin-top: 64px;
    width: 100%;
    height: 534px;
}

.tab_box >div >ul >li{
    float: left;
    background-color: #f7f7f7;
    width: 266px;
    height: 255px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.tab_box >div >ul >li >a>img{
    width: 100%;
}

.tab_box >div >ul >li >a>h3{
    text-align: center;
    color: #000;
    font-size: 15px;
    padding: 15px 0px;
}
.tab_box >div >ul >li >a>h4{
    text-align: center;
    color: #666;
    font-size: 13px;
    font-weight: normal;
}
.tab_box >div >ul >li >a>h4>span{
    margin-right: 5px;
}
.tab_box >div >ul >li >a>h4 .span_on{color: blue;}

.tab_box >div >ul >li:nth-child(4n){
    margin-right: 0px;
}

.b1 {display : block;}
.b2 {display : none;}
.b3 {display : none;}
.b4 {display : none;}
.b5 {display : none;}

/*********************** label ************************/


.mediaWrap{
    width: 1100px;
    height: 320px;
    position: relative;
    margin: 0 auto;
}

.label {
    width: 300px;
    height: 72px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -150px;
    padding-top: 20px;
    background-color: #fff;
    z-index: 5;
}

.label h1{
    margin: 0 auto;
    text-align: center;
}

.label h5{ text-align: center;}

.mediaWrap .media{
    position: absolute;
    padding-top: 60px;
    bottom: 10px;
    width: 100%;
    border-top: 1px solid #dadada;

}

.mediaWrap .media ul li{
    float: left;
    margin-right: 10px;
    width: 360px;
    height: 193px;
}

.mediaWrap .media ul li a h3{
    text-decoration: underline;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    padding-top: 5px;
}


.mediaWrap .media ul li:last-child{margin-right: 0px;}


.story{
    padding-top: 20px;
    width: 1100px;
    height: 460px;
    margin: 0 auto;
    border-bottom : 1px solid #dadada;
}
.story ul li{
    float: left;
    margin-right: 10px;
}
.story ul li:last-child{margin-right: 0px;}
.story ul li a h3{
    text-align: center;
    color: #000;
    padding-top: 20px;
}

/************************* footer **********************/

footer {
    width: 1100px;
    height:153px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    box-sizing: border-box;
}

footer >ul{
    overflow: hidden;
}
footer >ul li{
    float: left;
    margin-right: 30px;
}
footer >ul li:nth-child(3) a{
    color: #333;
}
footer >ul li a{
    color: #999;
    font-weight: bold;
    font-size: 13px;
}
footer >ul li:hover a{
    color: #333;
}
footer .info{
    position: absolute;
    bottom: 30px;
}
footer .info a {
    float: left;
    margin-right: 10px;
    position: relative;
    top :10px;
}

footer .info p{
    float: left;
    font-size: 12px;
}


/*************************************/

footer .family{
    position: absolute;
    right: 0px;
    top: 40px;
    width: 140px;
/*    height: 135px;*/
}

footer .family ul{
    position: absolute;
    right: 0px;
    top: -100px;
    height: 100px;
    width: 140px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    display: none;
}

footer .family ul li{
    width: 140px;
    height: 25px;
    padding: 0px 10px;
}
footer .family ul li a{
    line-height: 25px;
    display: block;
    width: 140px;
    height: 25px;
    font-size: 13px;
    color: #333;
}
footer .family ul li:hover a{text-decoration: underline;}
footer .family p{
    padding: 0px 10px;
    box-sizing: border-box;
    width: 140px;
    height: 35px;
    color: #666;
    font-size: 15px;
    line-height: 35px;
    border : 1px solid #dadada;
    background-color: #f7f7f7;
    background-image: url(../img/bottom/footer_arrow.png);
    background-repeat: no-repeat;
    background-position: 120px;
    cursor: pointer;
}

footer .family .f_on{
    display: block;
}
