* { margin:0px;padding:0px;}
ul { list-style:none;}
a { text-decoration:none;}
img { border:none;}



.slider {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    border : 2px solid #333;
    overflow: hidden;
}


.panel{
    width: 400%;
    height: 100%;
}

.panel li{
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 400px;
    font-weight: bold;
    font-size: 40px;
}



.s1 {background-color:lightblue;}
.s2 {background-color:lightpink;}
.s3 {background-color:lightgreen;}
.s4 {background-color:lightseagreen;}






.btn{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -55px;
}

.btn li{
    float: left;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border : 1px solid #000;
    text-indent: -9999px;
    background-color: #fff;
    cursor: pointer;
}

.btn li:hover{
    background-color: sandybrown;
}

.btn .on{
    background-color: sandybrown;
}

.prev{
    position: absolute;
    top :50%;
    margin-top: -15px;
    width: 40px;
    height: 30px;
    left: 20px;
    background-color: aquamarine;
    color: red;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}


.next{
    position: absolute;
    top :50%;
    margin-top: -15px;
    width: 40px;
    height: 30px;
    right: 20px;
    background-color: aquamarine;
    color: red;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}
